:root{
    --mark-blue: #45abea;
    --mark-purple: #9c72e4;
    --mark-orange: #f29e33;
    --mark-acqua: #64c0a9;
    --mark-pink: #d863a1;
    --mark-green: #b0c926;
    --background: #f6f8f9;
    --checks: #66c1aa;
    --cross: #eb5852;
}


* {
    font-family: roboto;
}

/* #region-header */
.header {
    padding-left: 1em;
    padding-bottom: 2em;
}

#logo {
    width: 50px;
    vertical-align: middle;
}

#logo_title {
    font-size: 2.5em;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
/* #endregion-header */

/* #region-utility */
.container {
    padding: 3em 11em;
    background-color: var(--background);
}

.todolist{
    background-color: white;
    border-radius: 5px;
}

.pxy-3-11{
    padding: 1em 3em;
}
/* #endregion-utility */

/* #region-buttons */
.buttons {
    background-color: white;
    border-radius: 5px;
    padding: 1em 3em;
    border-bottom: 3px solid var(--background);
}

#btn1 {
    color: white;
    background-color: var(--mark-blue);
    border-radius: 5px;
    border-color: var(--mark-blue);
}

#btn2{
    color: #b3b3b3;
    background-color: white;
    border-radius: 5px;
    border-color: #c0c0c0;
}
/* #endregion-buttons */

/* #region-checks */
.checks{
    color: var(--checks);
    border: 1px solid var(--checks);
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 1;
}

.cross{
    color: var(--cross);
    border: 1px solid var(--cross);
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 1;
}
/* #endregion-checks */

/* #region-marks */
.mark-blue{
    font-size: 7px;
    color: white;
    background-color: var(--mark-blue);
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.mark-purple{
    font-size: 7px;
    color: white;
    background-color: var(--mark-purple);
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.mark-acqua{
    font-size: 7px;
    color: white;
    background-color: var(--mark-acqua);
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.mark-orange{
    font-size: 7px;
    color: white;
    background-color: var(--mark-orange);
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.mark-pink{
    font-size: 7px;
    color: white;
    background-color: var(--mark-pink);
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.mark-green{
    font-size: 7px;
    color: white;
    background-color: var(--mark-green);
    border-radius: 7px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}
/* #endregion-marks */